
* {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  
}
.container{
  width: 1280px;
  height: 844px;
  margin: 90px 80px;
  color: #FFFFFF;
  display: flex;
}
